* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #0f0f0f;
  /* background-image: url("fireworks.gif"); */
  background-image: url("ribbon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f2e6cf;
  line-height: 1.6;

}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-container img {
  width: 80px;
}

.logo-text {
  font-size: 20px;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: #f2e6cf;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
}

.nav-links a:hover {
  opacity: 0.7;
}

/*HERO SECTION */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
  min-height: 80vh;
}

.hero-text {
  flex: 1;
  max-width: 50%;
}

.hero-text h1 {
  font-size: 80px;
  font-weight: 900;
  line-height: 1.1;
}

.hero-text p {
  margin-top: 30px;
  max-width: 500px;
  font-size: 15px;
  color: #d6cbb5;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-image img {
  width: 600px;
}

/* PROJECTS */
.projects {
  padding: 60px 80px;
}

.projects h2 {
  text-align: center;
  margin-bottom: 40px;
}

.project-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

/* PROJECT CARD or like the containers in each projects */
.project-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: #222222;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow:
    0 0 30px 6px rgba(255, 0, 234, 0.458),
    0 0 40px 10px rgba(255, 122, 24, 0.3);
}

.project-card h3 {
  font-size: 18px;
  font-weight: 700;
}

.project-card p {
  font-size: 14px;
  color: #d6cbb5;
  text-align: justify;
}

/* Image for uniform sizing */
.project-image {
  width: 100%;
  max-width: 500px;
  height: 280px;
  overflow: hidden;
  border-radius: 13px;
  border: 1px solid #f2e6cf;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.project-image_1{
  width: 100%;
  max-width: 500px;
  height: 280px;
  overflow: hidden;
  border-radius: 13px;
  border: 1px solid #f2e6cf;
}

.project-image_1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

/* SKILLS AND AUTOBIOGRAPHY */
.info {
  display: flex;
  gap: 40px;
  padding: 60px 80px;
}

.skills,
.autobio,
.cntct {
  flex: 1;
  background-color: #222222;
  border-radius: 16px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

/* Hover effects for all cards */
.skills:hover,
.autobio:hover,
.cntct:hover {
  transform: translateY(-6px);
  box-shadow:
    0 0 25px rgba(225, 140, 214, 0.992),
    0 0 35px rgba(255, 122, 24, 0.25);
}


.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
  border: 3px solid #f2e6cf;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Skills Section */
.skills {
  display: flex;
  flex-direction: column;
}

.skills h2 {
  text-align: center;
  margin-bottom: 10px;
}

/* Skill Categories */
.skill-category {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.skill-category h3 {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #f2e6cf;
  margin-top: 10px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.skill {
  background-color: #0f0f0f;
  border: 1px solid #f2e6cf;
  border-radius: 999px;
  padding: 10px 18px;
  font-size: 13px;
  text-align: center;
  width: fit-content;
}

/* About Me Section */
.autobio h2 {
  text-align: center;
  margin-bottom: 10px;
}

.me {
  font-size: 14px;
  color: #d6cbb5;
  text-align: justify;
  line-height: 1.8;
}

/* CONTACT*/
.cntct {
  max-width: none;
}

.cntct h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 24px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cntct h3 {
  font-size: 14px;
  letter-spacing: 2px;
  margin-top: 15px;
  color: #f2e6cf;
}

.cntct p {
  font-size: 14px;
  color: #d6cbb5;
  margin-bottom: 8px;
}

/*  FOOTER */
.footer {
  display: flex;
  gap: 30px;
  padding: 40px 80px;
  align-items: center;
}

.footer-logo img {
  width: 90px;
}

.footer-text {
  font-size: 14px;
}

.footer-text a {
  display: inline-block;
  margin-top: 10px;
  color: #f2e6cf;
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}